#header{
	background-color: red;
	width: 100%;
	height: 100px;
	position: fixed;
	z-index: 10;
}

#navbar{
	background-color: green;
	width: 41.8%;
	height: 5%;
	text-align: left;
	position: fixed;
	right: 2%;
	top: 4%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: red;
}

#Home{
	
	border-style: solid;
	top: 0px;
	width: 1000px;
	height: 600px;
	
}

#headerHome{
	text-align: center;
	width: 60%;
	margin: 0 auto;
}

#teaserVideo{
	text-align: center;
	border-style: solid;
	height: 300px;
	width: 500px;
	margin: 0 auto;
}

#introText{
	text-align: center;
	width: 60%;
	margin: 0 auto;
}


#Levels{
	border-style: solid;
	
	width: 1000px;
	height: 800px;
}

#headerLevels{
	text-align: center;
	width: 60%;
	margin: 0 auto;
}

#lvl1SH{
	position: relative;
	border-style: solid;
	top: 10px;
	left: 30px;
	width: 25%;
	height: 150px;
}
#lvl2SH{
	position: relative;
	border-style: solid;
	top: 40px;
	left: 30px;
	width: 25%;
	height: 150px;
}
#lvl3SH{
	position: relative;
	border-style: solid;
	top: 70px;
	left: 30px;
	width: 25%;
	height: 150px;
}

#textForLevel{
	position: relative;
	align-content: center;
	border-style: solid;
	top: -458px;
	left: 15%;
	width: 65%;
	height: 522px;
	margin: 0 auto;
}


#TheDevelopers{
	border-style: solid;

	width: 1000px;
	height: 800px;
}

#headerDevs{
	text-align: center;
	width: 60%;
	margin: 0 auto;
}

#VB{
	position: relative;
	align-content: center;
	border-style: solid;
	width: 35%;
	height: 200px;
	left: 40px;
}

#NE{
	position: relative;
	align-content: center;
	border-style: solid;
	width: 35%;
	height: 200px;
	left: 62%;
	top: -206px;
}

#ND{
	position: relative;
	align-content: center;
	border-style: solid;
	width: 35%;
	height: 200px;
	top: -100px;
	margin: 0 auto;
}

/*NINA*/
/*Classes added for scrolling*/

/*This makes it overflow the right way*/
body
{
 overflow-x: hidden;
}

.scroll
{
  position: fixed;
  bottom: 0;
  left: 0;
}

/*Background image and width of enitre horizon is set here*/
.horizon
{
  z-index: 1;
  width: 6384px;
}

/*class for all the pages*/
.page{
	top: 0px;
    width: 1000px;
    position: absolute;
}

/*The next are the individual classes per page*/
/*
	You might wonder why the left property just gets crazier
	and that is because we don't hide things we just place them offscreen
	ready to be scrolled to and made love to by the eyes of our users
*/
.home
{
    left: 240px
}

.levels
{
    left: 1800px;

}

.devs
{
    
    left: 3250px;
}

/*This sets the width and top of all the pages*/
.front{
  z-index: 500;
    top: 150px;
    width: 6000px;
}











