#header{
	background-color: red;
	width: 100%;
	height: 100px;
	position: fixed;
	z-index: 10;
}

#navbar{
	background-color: green;
	width: 41.8%;
	height: 5%;
	text-align: left;
	position: fixed;
	right: 2%;
	top: 4%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: red;
}

#Home{
	position: relative;
	border-style: solid;
	top: 110px;
	width: 100%;
	height: 800px;
	
}

#headerHome{
	text-align: center;
	width: 60%;
	margin: 0 auto;
}

#teaserVideo{
	text-align: center;
	border-style: solid;
	height: 300px;
	width: 500px;
	margin: 0 auto;
}

#introText{
	text-align: center;
	width: 60%;
	margin: 0 auto;
}

#Levels{
	position: relative;
	border-style: solid;
	top: 100px;
	width: 100%;
	height: 800px;
}

#headerLevels{
	text-align: center;
	width: 60%;
	margin: 0 auto;
}

#lvl1SH{
	position: relative;
	border-style: solid;
	top: 10px;
	left: 30px;
	width: 25%;
	height: 150px;
}
#lvl2SH{
	position: relative;
	border-style: solid;
	top: 40px;
	left: 30px;
	width: 25%;
	height: 150px;
}
#lvl3SH{
	position: relative;
	border-style: solid;
	top: 70px;
	left: 30px;
	width: 25%;
	height: 150px;
}

#textForLevel{
	position: relative;
	align-content: center;
	border-style: solid;
	top: -458px;
	left: 15%;
	width: 65%;
	height: 522px;
	margin: 0 auto;
}

#TheDevelopers{
	position: relative;
	border-style: solid;
	top: 100px;
	width: 100%;
	height: 800px;
}

#headerDevs{
	text-align: center;
	width: 60%;
	margin: 0 auto;
}

#VB{
	position: relative;
	align-content: center;
	border-style: solid;
	width: 35%;
	height: 200px;
	left: 40px;
}

#NE{
	position: relative;
	align-content: center;
	border-style: solid;
	width: 35%;
	height: 200px;
	left: 62%;
	top: -206px;
}

#ND{
	position: relative;
	align-content: center;
	border-style: solid;
	width: 35%;
	height: 200px;
	top: -100px;
	margin: 0 auto;
}